* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	color: purple;
	font-family: Helvetica, arial;
}

header, footer {
	padding:1px;
	margin-top:0;
	background-color: purple;

}
fp,

.centered {

}

header .subtitle {
	color: white;
	text-align: center;

}

h1 {

	font-family: Helvetica, arial;
	color: white;
	text-align: center;
	font-variant:small-caps;


}

ul {
	display: flex;
	flex-wrap: wrap;
	color: white;
}

ul li {
	width: 50%;
}

main {

}

section {	`


}

h2 {
	border-bottom: 1px solid purple;

}

h3 {

}

p {
	color: black;

}

.details {
	color: purple;
}

.object {
	font-weight:600;

}

.object:after {
	content: " | ";
}

footer h2 {
	color: white;

}